*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}

html {
  font-size: 62.5%;//defines what 1rem is.
}

body {
  box-sizing: border-box;
  // border: $border-test;
  // min-height: fit-content;
}