
.header {
  grid-column: 1/4;
  position: relative;
  height: 9.5rem;
  border-bottom: $border-grey;

  &__text {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%); 
  }
}

.add-tracking-information-section {
  width: 45rem;
  position: absolute;
  top: 35%;
  right: 1%;
  display: flex;
  justify-content: space-between;
}

button {
  width: 13rem;
  height: 3.5rem;
  border-radius: 5px;
  border: $color-light-blue;
  background-color: $color-black;
  color: $color-light-blue;
  // transition: 0.2s ease-in-out

  &:hover {
    background-color: $color-light-blue;
    color: $color-black;
    cursor: pointer;
    // transition: all 0.2s ease-in-out
  }
}

.user-info {
  @include dataBox;
  position: relative;
  grid-row: 1;

  &__croper {
    @include circle;
    overflow: hidden;
    height: 10rem;
    width: 10rem;
    
    &--pic {
      height:10rem;
    }
  }

  &__name {
    margin-top: 3rem;
    text-align: center;
  }

  &__address {
    margin-top: 3rem;
  }
}

.icon{
 @include circle;
 background-color: $primary-background;
 display: flex;
 justify-content: center;
 align-items: center;

  img {
    height: 5rem;
    // margin-bottom: 1rem;
  }
}

.walking-stats {
  @include dataBox;
  @include flex;
  grid-row: 2;
  grid-column: 1;
  // height: 50rem;
}

.hydration-stats {
  @include dataBox;
  @include flex;
  grid-row: 1;
  grid-column: 2/4;
  
  &__chart {
    border: $border-test;
    height:100%;
    width: 50%;
  }
}

.friends {
  @include dataBox;
  grid-row: 3;

  &__list {
    margin-top: 3rem;
    @include flex;
  }
}

.sleep-stats {
  @include dataBox;
  @include flex(column);
  grid-row: 2/4;
  grid-column: 2/4;

  &__data {
    @include flex
  }

  &__chart {
    border: $border-test;
  }

}

.user-activity {
  @include dataBox;
  grid-column: 1/4;

  &__data {
    @include flex;
  }

  &__chart {
    @include flex;
    height: 30rem;
    border: $border-test
  }

}

.step-challenge {
  @include dataBox;
  grid-column: 1/4;
}

.add-information-form {
  @include dataBox;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 5% 0 0 37%;
  padding: 5%;

  .entry-form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  input {
    display: flex;
    padding: 2px 0 2px 5px;
    margin: 10px 0 10px 0;
    width: 30rem;
  }

  .submit-button {
    margin-top: 15px;
  }
}

.hidden {
  display: none;
}
