body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-black;
}

.header__text {
  color: $color-light-blue;
  font-size: 3rem;
  font-style: italic;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.6rem;
  line-height: 2;
}

.friends__list {
  font-size: 1.3rem;
}

label {
  font-size: 1.5rem;
}