$primary-background: #000;
$color-black: #000;
$color-light-blue: #0BBBD6;
$border-grey: 2px solid rgb(199, 199, 199);
$error-red: #F44335;

$color-test: rgb(49, 155, 16);
$border-test: 2px solid red;

